{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
<main class="mainBody">
    <h1>Comments,Variables and Datatypes</h1>
    <h4>Comments</h4>
    <p>Comments can be used to explain Python code.
        Comments can be used to make the code more readable.
        Comments can be used to prevent execution when testing code.
    </p>
    <h3>Example:</h3>
    <pre>

        #This is a comment
        print("Hello, World!")
    </pre>
    <h3>Output:</h3>
    <pre>

        Hello, World!
    </pre>
    <h4>Variables</h4>
    <p>Variables are containers for storing data values.</p>
    <h3>Example:</h3>
    <pre>

        num = 5
        name = "LearnPy"
        print(num)
        print(name)
    </pre>
    <h3>Output:</h3>
    <pre>

        5
        LearnPy
    </pre>
    <h4>Datatype</h4>
    <p>In programming, data type is an important concept.
        Variables can store data of different types, and different types can do different things.</p>
    <p>Python has the following data types built-in by default, in these categories:</p>
    <p>Text Type: str</p>
    <p>Numeric Types: int, float, complex</p>
    <p>Sequence Types: list, tuple, range</p>
    <p>Mapping Type: dict</p>
    <p>Set Types: set, frozenset</p>
    <p>Boolean Type: bool</p>
    <p>Binary Types: bytes, bytearray, memoryview</p>
    <p>None Type: NoneType</p>

<h4>Getting the Data Type</h4>
<p>You can get the data type of any object by using the type() function:</p>
<h4>Example:</h4>
<pre>

    z = 10
    print(type(x))

</pre>
<h3>Output:</h3>
<pre>

    < class 'int'>

</pre>
    <a href="/quiz/comments"><button type="button">Start Quiz</button></a>
    <!-- <a href="/quiz/{{comments}}"><button type="button">Start Quiz</button></a> -->
</main>
{% endblock body %}