{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
<main class="mainBody">
    <h1>Lists</h1>
    <p>Lists are used to store multiple items in a single variable. </p>
    <p>Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.</p>
    <p>Lists are created using square brackets: </p>
    <h3>Example :</h3>
    <pre>

        thislist = ["apple", "banana", "cherry"]
        print(thislist)
    </pre>
    <h2>List Items</h2>
    <p>List items are ordered, changeable, and allow duplicate values.</p>
    <h2>Ordered</h2>
    <p>When we say that lists are ordered, it means that the items have a defined order, and that order will not change.</p>
    <p>If you add new items to a list, the new items will be placed at the end of the list.</p>
    <h2>Changeable</h2>
    <p>The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.</p>
    <h2>Type</h2>
    <p>From Python's perspective, lists are defined as objects with the data type 'list':</p>
    <pre>

        type(thislist)
    </pre>
    
    <a href="/quiz/lists"><button type="button">Start Quiz</button></a>
    <!-- <a href="/quiz/{{comments}}"><button type="button">Start Quiz</button></a> -->
</main>
{% endblock body %}