{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
<main class="mainBody">
    <h1>Numbers and Operators</h1>
    <p>There are three numeric types in Python :  </p>
    <p>1. int</p>
    <p>2. float</p>
    <p>3. complex</p>
    <h2>Instantiating a number</h2>
    <p>Variables of numeric types are created when you assign a value to them.</p>
    <h3>Example :</h3>
    <pre>

        x = 1    # int
        y = 2.8  # float
        z = 1j   # complex
    </pre>
    <h2>Operators</h2>
    <p>Operators are used to perform operations on variables and values :</p>
    <h3>In the example below, we use the + operator to add together two values :</h3>
    <pre>

        print(10 + 5)
    </pre>
    <h3>Output :</h3>
    <pre>
        
    15
    </pre>
    
    <a href="/quiz/numbers"><button type="button">Start Quiz</button></a>
    <!-- <a href="/quiz/{{comments}}"><button type="button">Start Quiz</button></a> -->
</main>
{% endblock body %}