{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
<main>
  <h1>Introduction</h1>
  <p>Python is a simple, general purpose, high level, and object-oriented programming language.Python is an interpreted
    scripting language also. <i>Guido Van Rossum</i> is known as the founder of Python programming.</p>
  <h2>What is Python?</h2>
  <p>Python is a general purpose, dynamic, high-level, and interpreted programming language. It supports Object Oriented
    programming approach to develop applications. It is simple and easy to learn and provides lots of high-level data
    structures.</p>
  <p>Python is easy to learn yet powerful and versatile scripting language, which makes it attractive for Application
    Development.
    Python's syntax and dynamic typing with its interpreted nature make it an ideal language for scripting and rapid
    application development.</p>
  <p>Python supports multiple programming pattern, including object-oriented, imperative, and functional or procedural
    programming styles.</p>
  <p>Python is not intended to work in a particular area, such as web programming. That is why it is known as
    multipurpose programming language because it can be used with web, enterprise, 3D CAD, etc.</p>
  <p>We don't need to use data types to declare variable because it is dynamically typed so we can write a=10 to assign
    an integer value in an integer variable.Python makes the development and debugging fast because there is no
    compilation step included in Python development, and edit-test-debug cycle is very fast.</p>
  <h1>Download Python</h1>
  <p>In order to become Python developer, the first step is to learn how to install or update Python on a local machine
    or computer. In this tutorial, we will discuss the installation of Python on various operating systems.</p>
  <h3>Installation on Windows</h3>
  <p>Visit the link <i><a class="install" href="https://www.python.org/downloads/"
        target="_blank">https://www.python.org/downloads/</a></i> to download the latest
    release of Python. In this process, we will install Python 3.8.6 on our Windows operating system.</p>
  <h3>Installation on Mac</h3>
  <p>To install python3 on MacOS, visit the link <i><a class="install"
        href="https://www.javatpoint.com/how-to-install-python-on-mac"
        target="_blank">https://www.javatpoint.com/how-to-install-python-on-mac</a></i>
    and follow the instructions given in the link.</p>
  <!-- <form action="/quiz/comments" method="post">
    <input type="submit" class="button" name="comments" value="Quiz">
  </form> -->
  <a href="/quiz/Introduction"><button type="button">Start Quiz</button></a>
</main>
{% endblock body %}